# build output
dist
renderer/.next
renderer/out
/bin/
/build/probe-cli/
yarn-error.log

# dependencies
node_modules
package-lock.json

# logs
npm-debug.log

.DS_Store

# development
/ooni_home
/ooni_home_autorun
cert.pem

# secrets
/.env

# test assets
test/screenshots
test/mockFiles
